.banner {
  width: 100%;
  height: 400px;
}

.post {
  margin-bottom: 160px;
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.5px;
    margin-bottom: 24px;
  }
}

.dadosPost {
  display: flex;
  margin-bottom: 64px;

  span {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    & + span {
      margin-left: 8px;
    }
  }
}

.content {
  h2 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 48px;
  }

  div {
    font-size: 18px;
  }

  & + .content {
    margin-top: 48px;
  }
}
